* {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width:auto;
    background: linear-gradient(91deg, #FAF9FF 23.03%, #EBF2FF 88.01%);
  }

  html {
    scroll-behavior: smooth;
}

  .content-container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    margin: 140px;
    gap: 56px;
  }

/*Header section*/
.main-header{
    position: fixed;
    top: 20;
    width: 80%;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;


    backdrop-filter: blur(8px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.40) 0%, rgba(248, 246, 255, 0.40) 100%);
    border: solid 1px #FFFFFF;
    border-radius: 20px;
}

.navigations-links {
    color: #333;
    border-radius: 4px;

}

.navigations-links > ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 4px;
    justify-content:center;
    list-style-type: none;
}

.navigations-links  > ul > li > a{
    padding: 12px;
    text-decoration: none;
    display: inline-block;
    color: #666;
    transition: 200ms;
    border-radius: 20px;
}
.navigations-links  > ul > li > a:hover{
    color: #333;
    background: #0022ff15;
    border-radius: 12px;
}
.navigations-links  > ul > li > a:active{
    color: #333;
    background: #0022ff43;
    border-radius: 12px;
}

.logo-holder > img{
    cursor: pointer;
}
.logo-holder > img:hover{
    background: #0022ff15;
    border-radius: 8px;
}

.request-demo{
    max-width: 180px;
    display:inline-block;
    background: #005eff;
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 14px 32px;
    border: 0px solid #333;
}
.request-demo:hover{
     background: #367fff;
     cursor: pointer;
}
/*Header section*/

/*Intro section*/
.intro-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
}

#pulse-text{
    width: 780px ; 
    height: 136px;
}
.intro-content h1{
  text-align: center;
  line-height: 120%;
  margin: 0px;
  font-size: 56px;
}
/*.intro-content >  h1 > span{
    color:#005eff;
  }*/

  .intro-content > span{
    color: #333;
    text-align: center;
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 0px 16px 0px;
  }

  .youtube-video{
    margin-top: 16px;
    width: 560px;
    height: 315px;
    border-radius: 8px;  
  }

/*Intro scetion*/

/*pyramid*/
.pyramid-image{
    width: 900px;
    height: auto;
}
/*pyramid*/

/*How it works section*/

.how-it-works{
    width: 100%;
    padding: 48px 12px 48px 12px;
    background: #f7faff;
    border-radius: 12px;
    background: linear-gradient(165deg, #FFF 0.88%, #EAF2FF 38.04%, #FFF 94.85%);
    border: solid 1px #EBE7FF;
    margin-bottom: 64px;
}

.how-it-works > h1{
    text-align: center;
    line-height: 120%;
    margin-bottom: 64px;
    font-size: 48px;
    
}

.features{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.how-it-works > h1{
    text-align: center;
}
.feature-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.feature-image{
    width: 436px;
    height: 500px;
}

.feature-block h3{
    font-size: 32px;
    line-height: 120%;
    margin: 0px;
}

.feature-block span{
    font-size: 16px;
    color: #666;
    line-height: 150%;
    margin: 0px;
}


.feature-content{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}
/*How it works section*/

/* Why Pulse section*/

.why-pulse{
    width: 100%;
    margin-bottom: 64px;
}
.why-pulse > h1{
    text-align: center;
    line-height: 120%;
    margin-bottom: 40px;
    font-size: 48px; 
}
.highlight-container{
display:grid;
grid-template-columns: 1fr 1fr ;
gap: 20px;
width: 100%;

}

.highlight{
    display: flex;
    flex-direction: row;
    padding: 28px 28px;
    background: linear-gradient(90deg, #E1ECFF 0%, #EAE7FF 100%);
    gap: 12px;
    border-radius: 8px;
    align-items: center;
}


.highlight-text  h3{
    margin: 0px 0px 8px 0px;
    font-size: 24px;
    color: #333;
}

.highlight-text span{
    margin: 0px;
    font-size: 16px;
    color: #666;
    line-height: 150%;
}

/* Why Pulse section*/

/*Integrations section*/

.integration-item {
    display: flex;
    flex-direction: column;
    padding: 28px 28px;
    background: #ffffff;
    gap: 12px;
    border-radius: 8px;
    align-items:flex-start;
    border: solid 1px #eeeeee;
}

.integration > h1{
    text-align: center;
    line-height: 120%;
    margin-bottom: 40px;
    font-size: 48px; 
}

/*Integrations section*/

/*Pricing section*/
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 64px;
}

.pricing > h1{
    text-align: center;
    line-height: 120%;
    margin-bottom: 0px;
    font-size: 48px; 
}

.pricing > span{
    text-align: center;
    line-height: 150%;
}


.get-in-touch{
    max-width: 180px;
    display:inline-block;
    background: #005eff;
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 14px 32px;
    border: 0px solid #333;
}
.get-in-touch:hover{
    background: #367fff;}
/*Pricing section*/

/*Team section*/
.card-section{
   width: 100%;
}
.card-section > h1{
    text-align: center;
    line-height: 120%;
    margin-bottom: 40px;
    font-size: 48px; 
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    width:100%;
    margin-bottom: 64px;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    padding: 32px 36px;
    gap: 4px;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0px 0px 20px 0px rgba(33, 112, 244, 0.12);
    transform: scaleX(102%) scaleY(102%);
    
}

.card > h3{
    text-align: center;
    margin: 0px;
    color: #333;
    line-height: 150%;
    font-size: 20px;
    font-weight: 600;
}
.card > h4{
    text-align: center;
    margin: 0px;
    color: #7d7d7d;
    line-height: 150%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.card > span{
    text-align: center;
    color: #666;
    line-height: 150%;
    margin-bottom: 20px;
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.icon { 
    width: 24px; 
  height: 24px;
  margin: .5em; 
  color: #666;
  }
  
  .icon:hover{
    color: rgb(34, 89, 255);
  }
/*Team section*/

/*FAQ section*/
.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    gap: 12px;
    margin-bottom: 40px;
    
}
.accordion > h1{
    text-align: center;
    line-height: 120%;
    margin-bottom: 40px;
    font-size: 48px; 
}

.accordion-item {
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    background: #ffffff;
    position: relative;
    
}

.accordion-header {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 20px;
}

.accordion-content p {
    padding: 0px 0px 16px 0px;
    margin: 0;
    color: #666;
    font-weight: 400;
    font-size: 16px;
}
 .accordion-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    transition: transform 0.2s ease-out;
}

.rotate {
    transform: rotate(90deg);
}
/*FAQ section*/


/*contact us section*/
.contact {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.contact > h1{
    text-align: center;
    line-height: 120%;
    margin-bottom: 40px;
    font-size: 48px; 
}
/*contact us section*/


/*Footer section*/
.footer{
    background: #e3ecff;
    display: flex;
    flex-direction: row;
    padding: 56px 130px;
    justify-content: space-between;
    align-items: center;
}
.icon-and-address{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer span{
    font-size: 14px;
    line-height: 150%;
    color: #333;
}
.footer span a{
    color: #333;
}

.icon-footer { 
  margin: .5em; 
  color: #333;
  }
  
  .icon-footer:hover{
    color: #005eff;
  }

/*Footer section*/

@media (max-width: 768px) {



    /* Features section */
    .highlight-container {
        grid-template-columns: 1fr;
    }
    
    .pyramid-image{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    
    /* Team section */
    .card-container {
        grid-template-columns: 1fr;
    }

    /* General flex direction changes */
    .feature-block {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        text-align: center;
    }

    .feature-content{
        width: 80%;
    }

    .highlight {
        flex-direction: column;
        gap: 16px;
        text-align:start;
        align-items: flex-start;
    }
    

    /* Adjust padding and margins for better spacing */
    .content-container {
        margin: 20px;
        padding: 10px;
        gap: 32px;
    }

    .how-it-works > h1,
    .why-pulse > h1,
    .integration > h1,
    .pricing > h1,
    .card-section > h1,
    .accordion > h1
    .contact > h1{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .pricing > span {
        font-size: 14px;
    }

    .intro-content h1 {
        font-size: 36px;
    }

    .feature-block h3 {
        font-size: 20px;
    }

    .youtube-video {
        width: 100%;
        height: auto;
        max-width: 100%;
}
    .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  /* Feature image adjustments */
  .feature-image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.footer{
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 56px;
    align-items: center;
    text-align: center;
    gap: 32px;
}

/* Canvas element adjustments */
 #pulse-text {
    width: 100%;
    height: auto;
}

}




/* Hamburger icon */
.hamburger {
    display: none;
    width: 40px;
    height: 40px;
    align-items: center;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border: solid 1px #FFFFFF;
    border-radius: 8px;

    position: fixed;
    z-index: 1000;
    top: 20;
    right: 20;
    box-shadow: 0px 0px 15px 0px rgba(45, 108, 237, 0.15);
}

/* Menu overlay */
.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.80) 0%, rgba(248, 246, 255, 0.80) 100%);
    z-index: 1001;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.menu-overlay.show {
    display: flex;
    opacity: 1;
}
.menu-content {
    color: #333;
    text-align: center;
    font-weight: 400px;
    line-height: 150%;
}

.close-btn {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #ffffff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0px 0px 15px 0px rgba(45, 108, 237, 0.15);
    
    
}

.overlay-nav ul {
    align-items: center;
    list-style: none;
    padding: 0px;
}

.overlay-nav ul li {
    margin: 20px 0;
}

.overlay-nav ul li a {
    display: flex;
    color: #333;
    font-size: 20px;
    text-align: center;
    font-weight: 400px;
    line-height: 150%;
    padding: 20px;
    justify-content: center;
    text-decoration: none;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .main-header {
        display: none;
    }

    .hamburger {
        display: block;
    }
}
